body{font-family: 'Poppins', sans-serif;}


section{
    display: flex;
    background-color: rgb(85, 6, 212);
    padding: 8% 12% 8% 12%;
    
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 100%;
    padding-right: 5%;
}
h1{
    font-size: 65px;
    color: rgb(12, 12, 12);
}
a{
    text-decoration: none ;
    background-color: rgb(236, 7, 7);
    text-align: center;
   padding: 2% 5% 2% 5%;
   color: floralwhite;  
   
}
.boxx{
   float: right;
    
}
.photo:hover{
    transform:scale(1.2) ;
    overflow: hidden;}

  .box{
   margin: 50px;
      
  }
  .card{
      width: 280px;
      text-align: center;
      margin-top: 2px;
      /* border: 1px solid gray; */
      box-shadow: 0px 0px 7px 0px gray ;
  }
  .card img{
      width: 90%;
      padding-top:5% ;
  }
  .text{
      width: 90% ;
  }
  
  .container{
      margin: 80px;
     padding-bottom: 20px;
      width: 1200px;
       /* border: 0px solid rgb(255, 255, 255); */
      display: flex;
      flex-wrap: wrap;
     
     
  }